@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar-thumb {
    /* background: rgb(250, 250, 249); */
    background-color: rgb(186 186 186);
  }

  /* .dark ::-webkit-scrollbar-thumb {
    background: rgb(64 64 64);
  } */

  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.5rem;
    /* background: rgb(197, 193, 190); */
    background-color: rgb(120 113 108);
  }

  .dark ::-webkit-scrollbar {
    /* background: black; */
    background-color: rgb(64 64 64);
  }
}

@layer components {
  .stroked {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    color: rgb(177, 177, 177);
    -webkit-font-smoothing: antialiased;
  }
}
